.jumbotron {
    background: url('img/jumbo.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    padding-top: 20%;
    padding-bottom: 20%;
    
  }

.site-footer {
    background-color: #212529;
    color: white;
}